name: Run Labour Scraper

on:
  workflow_dispatch:  # manual run
  schedule:
    - cron: "30 1 * * *"  # 7:00 AM IST daily

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Create credentials.json from secret
        run: echo "${{ secrets.GOOGLE_CREDENTIALS_BASE64 }}" | base64 --decode > credentials.json

      - name: Run Labour script
        run: node labour.js
